                                            @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&family=Roboto+Slab:wght@300;500;700&display=swap');
                                            * {
                                                box-sizing: border-box;
                                                padding: 0;
                                                margin: 0;
                                                list-style: none;
                                                text-decoration: none;
                                            }

                                            body {
                                                overflow-x: hidden
                                            }

                                            .navbar {
                                                background-color: rgb(254, 252, 255);
                                                color: black;
                                                display: flex;
                                                justify-content: space-between;
                                                /*to push logo to left and navbar items to right*/
                                                align-items: center;
                                                padding: 30px;
                                                width: 100%;
                                                height: 80px;
                                                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
                                            }

                                            .navlinks {
                                                list-style-type: none;
                                                /*to remov ebullet points from nav elemnts*/
                                                text-align: right;
                                                padding: 0;
                                                margin: 0;
                                                transition: 0.7s ease;
                                            }

                                            .navbar .nav-links ul {
                                                display: flex;
                                                /*inline-block*/
                                                padding: 20px 10px;
                                                text-decoration: none;
                                                text-align: center;
                                                transition: 0.7s ease;
                                            }

                                            .navbar .nav-links ul li {
                                                margin: 0 20px;
                                            }

                                            .navbar a {
                                                color: rgb(42, 42, 42);
                                                text-decoration: none;
                                                float: right;
                                                font-size: 17px;
                                                margin-right: 20px;
                                                transition: 0.7s ease;
                                            }

                                            .navbar a:hover {
                                                color: #933fba;
                                            }

                                            .navbar .row {
                                              display: flex;
                                            }

                                            /* Create three equal columns that sits next to each other */
                                            .navbar .column {
                                              flex: 20%;
                                              padding: 0px;
                                           }
}
                                            .navbar .logo1 {
                                                height: 100px;
                                                justify-content: flex-start;
                                                display: flex;
                                                margin-left: -200px;
                                                margin-right:0px;
                                            }

                                            .navbar .logo2 {
                                                height: 60px;
                                                justify-content: flex-start;
                                                display: flex;
                                                margin-left: 0px;
                                                margin-right:0px;

                                            }

                                            .navbar .burger {
                                                display: none;
                                                width: 30px;
                                                position: absolute;
                                                top: 35px;
                                                right: 50px;
                                                color: rgb(136, 49, 160);
                                            }

                                            .image {
                                                width: 100%;
                                                overflow-x: hidden;
                                            }

                                            .header {
                                                font-size: 34px;
                                                font-family: "Barlow Semi Condensed", sans-serif;
                                                margin-left: 180px;
                                                margin-top: 30px;
                                                color: rgb(55, 54, 54);
                                            }

                                            .inside-text {
                                                color: #404040;
                                                font-size: 19px;
                                                font-family: "Barlow Semi Condensed", sans-serif;
                                                margin-left: 180px;
                                                margin-right: 0px;
                                            }

                                            .header-text {
                                                color: #404040;
                                                font-size: 19px;
                                                font-family: "Barlow Semi Condensed", sans-serif;
                                            }

                                            @media screen and (max-width: 1000px) {
                                                body {
                                                    overflow-x: hidden;
                                                }
                                                .nav-links ul {
                                                    flex-direction: column;
                                                    display: flex;
                                                    align-items: center;
                                                }
                                                .nav-links {
                                                    top: 0;
                                                    left: 0;
                                                    position: absolute;
                                                    background-color: rgba(246, 232, 247, 0.82);
                                                    backdrop-filter: blur(7px);
                                                    width: 100%;
                                                    height: 100vh;
                                                    display: flex;
                                                    justify-content: center;
                                                    align-items: center;
                                                    transition: all 0.5s ease;
                                                    margin-left: -100%;
                                                }
                                                .mobile-menu {
                                                    margin-left: 0px;
                                                }
                                                .mobile-menu a {
                                                    margin-left: 0px;
                                                    font-family: "Barlow Semi Condensed", sans-serif;
                                                    font-weight: 700;
                                                }
                                                .navbar {
                                                    padding: 0;
                                                    height: 60px;
                                                }
                                                .navbar .logo {
                                                    position: absolute;
                                                    height: 60px;
                                                }
                                                .navbar .burger {
                                                    display: block;
                                                    top: 19px;
                                                }
                                                .navbar .nav-links ul li {
                                                    margin: 20px 0;
                                                    font-size: 1rem;
                                                }
                                            }

                                            footer {
                                                background-color: rgb(244, 237, 247);
                                                height: auto;
                                                width: 100vw;
                                                font-family: "Barlow Semi Condensed", sans-serif;
                                                padding-top: 40px;
                                                color: rgb(55, 54, 54);
                                                position: absolute;
                                                left: 0;
                                                right: 0;
                                            }

                                            .footer-content {
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                flex-direction: column;
                                                text-align: center;
                                            }

                                            .footer-conetnt h3 {
                                                font-size: 1.8rem;
                                                font-weight: 400;
                                                text-transform: capitalize;
                                                line-height: 3rem;
                                            }

                                            .footer-content p {
                                                max-width: 500px;
                                                margin: 10px auto;
                                                line-height: 28px;
                                                font-size: 14px;
                                            }

                                            .socials {
                                                list-style: none;
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                margin: 1rem 0 3rem0;
                                            }

                                            .socials li {
                                                margin: 0 10px;
                                            }

                                            .socials a {
                                                text-decoration: none;
                                                color: #683998;
                                            }

                                            .socials a i {
                                                font-size: 2rem;
                                                transition: color .4s ease;
                                            }

                                            .socials a:hover i {
                                                color: #7b5aa6;
                                            }

                                            .footer-bottom {
                                                background: #e8deec;
                                                width: 100vw;
                                                padding: 20px;
                                                text-align: center;
                                            }

                                            .footer-bottom p {
                                                font-size: 14px;
                                                text-align: center;
                                                text-transform: capitalize;
                                                word-spacing: 2px;
                                            }

                                            .footer-bottom span {
                                                opacity: .4;
                                                font-weight: 200;
                                            }

                                            .headers-pages-ppl {
                                                font-size: 32px;
                                                margin-left: 140px;
                                                margin-top: 23px;
                                                color: #702b9d;
                                                font-family: "Barlow Semi Condensed", sans-serif;
                                            }

                                            .headers-pages {
                                                font-size: 32px;
                                                margin-left: 180px;
                                                margin-top: 23px;
                                                color: #702b9d;
                                                font-family: "Barlow Semi Condensed", sans-serif;
                                                margin-right: 55px;
                                            }

                                            .course-title {
                                                font-family: "Barlow Semi Condensed", sans-serif;
                                                font-size: 20px;
                                                margin-left: 70px;
                                                margin-top: 23px;
                                            }

                                            .text-pages {
                                                font-family: Arial, Helvetica, sans-serif;
                                                font-size: 17px;
                                                margin-left: 70px;
                                                margin-top: 20px;
                                                margin-right: 60px;
                                            }

                                                                                        .text-blog-article {
                                                font-family: Arial, Helvetica, sans-serif;
                                                font-size: 16px;
                                                margin-bottom: 10px;
                                                margin-left: 400px;
                                                margin-right: 400px;
                                            }

                                            .sections-blog-article {
                                                font-size: 20px;
                                                margin-left: 400px;
                                                margin-bottom: 15px;
                                                color: #702b9d;
                                                font-family: "Barlow Semi Condensed", sans-serif;
                                                margin-right: 400px;
                                            }

                                            .headers-blog-article {
                                                font-size: 26px;
                                                margin-left: 400px;
                                                color: #702b9d;
                                                font-family: "Barlow Semi Condensed", sans-serif;
                                                margin-right: 400px;
                                            }

                                            .headers-pages-blog {
                                                font-size: 32px;
                                                margin-left: 140px;
                                                margin-top: 23px;
                                                color: #702b9d;
                                                font-family: "Barlow Semi Condensed", sans-serif;
                                            }

                                            .sections-blog-main {
                                                font-size: 26px;
                                                margin-left: 140px;
                                                margin-top: 25px;
                                                color: #702b9d;
                                                font-family: "Barlow Semi Condensed", sans-serif;
                                                margin-right: 300px;
                                            }

                                            .text-blog-main {
                                                font-size: 18px;
                                                margin-left: 140px;
                                                margin-top: 25px;
                                                font-family: "Barlow Semi Condensed", sans-serif;
                                                margin-right: 300px;
                                            }

                                            .link {
                                                text-decoration: none;
                                                font-size: 18px;
                                                color: #8640a6;
                                            }

                                            .img-farah {
                                                float: left;
                                                width: 285px;
                                                margin: 15px;
                                                padding: 10px;
                                                margin-left: 165px;
                                            }

                                            .img-farah:hover {
                                                box-shadow: 1px 1px #373737, 2px 2px #373737, 3px 3px #373737, 4px 4px #373737, 5px 5px #373737, 6px 6px #373737;
                                                -webkit-transform: translateX(-3px);
                                                transform: translateX(-3px);
                                                transition: .5s ease;
                                            }

                                            .image-research:hover {
                                                -webkit-transform: scale(0.8);
                                                -ms-transform: scale(0.8);
                                                transform: scale(0.8);
                                                transition: 1s ease;
                                            }

                                            .image-research {
                                                width: 300px;
                                                height: 330px;
                                                margin-left: 260px;
                                                margin-top: 35px;
                                                float: left;
                                                padding: 0 20px 0 0;
                                            }

                                            .img-blog-center {
                                                display: block;
                                                width: 30%;
                                                margin-left: 140px;
                                                padding: 10px;
                                            }

                                            .img-blog {
                                                float: right;
                                                width: 35%;
                                                padding: 10px;
                                                margin-right: 400px;
                                            }

                                            .research-text-img {
                                                text-align: justify;
                                                margin-right: 370px;
                                                font-size: 21px;
                                                font-family: "Barlow Semi Condensed", sans-serif;
                                            }

                                            .inside-text-ppl {
                                                color: #404040;
                                                font-size: 19px;
                                                font-family: "Barlow Semi Condensed", sans-serif;
                                                margin-left: 140px;
                                                margin-right: 170px;
                                            }

                                            .alumni-text {
                                                color: #404040;
                                                font-size: 19px;
                                                font-family: "Barlow Semi Condensed", sans-serif;
                                                margin-left: 10px;
                                                margin-right: 10px;
                                            }

                                            .inside-text-pplpage {
                                                color: #404040;
                                                font-size: 19px;
                                                font-family: "Barlow Semi Condensed", sans-serif;
                                                margin-left: 10px;
                                                margin-right: 10px;
                                            }

                                            @media screen and (max-width: 1024px) {
                                                body {
                                                    overflow-x: hidden;
                                                }
                                                .headers-pages {
                                                    margin-left: 100px;
                                                    margin-right: 55px;
                                                }
                                            }

                                            @media screen and (max-width: 1024px) {
                                                body {
                                                    overflow-x: hidden;
                                                }
                                                .img-farah {
                                                    margin-left: 70px;
                                                    width: 240px;
                                                }
                                                .inside-text-ppl {
                                                    margin-right: 72px;
                                                    margin-left: 70px;
                                                }
                                                .alumni-text {
                                                    margin-right: 10px;
                                                    margin-left: 80px;
                                                }
                                                .inside-text-pplpage {
                                                    margin-right: 72px;
                                                    margin-left: 70px;
                                                }
                                                .headers-pages-ppl {
                                                    margin-left: 60px;
                                                    margin-right: 40px;
                                                }
                                            }

                                            .inside-text {
                                                color: #404040;
                                                font-size: 19px;
                                                font-family: "Barlow Semi Condensed", sans-serif;
                                                margin-left: 260px;
                                                margin-right: 160px;
                                            }

                                            .headers-pages-res {
                                                font-size: 32px;
                                                margin-left: 260px;
                                                margin-top: 23px;
                                                color: #702b9d;
                                                font-family: "Barlow Semi Condensed", sans-serif;
                                            }

                                            @media only screen and (max-width: 1360px) {
                                                .image-research {
                                                    width: 300px;
                                                    height: 330px;
                                                    margin-left: 260px;
                                                    margin-top: 35px;
                                                    float: left;
                                                    padding: 0 20px 0 0;
                                                }
                                                .research-text-img {
                                                    text-align: justify;
                                                    margin-right: 320px;
                                                    font-size: 20px;
                                                    font-family: "Barlow Semi Condensed", sans-serif;
                                                }
                                                .headers-pages-res {
                                                    font-size: 32px;
                                                    margin-left: 260px;
                                                    margin-top: 23px;
                                                    color: #702b9d;
                                                    font-family: "Barlow Semi Condensed", sans-serif;
                                                }
                                            }

                                            @media only screen and (max-width: 1290px) {
                                                .image-research {
                                                    width: 300px;
                                                    height: 330px;
                                                    margin-left: 220px;
                                                    margin-top: 35px;
                                                    float: left;
                                                    padding: 0 20px 0 0;
                                                }
                                                .research-text-img {
                                                    text-align: justify;
                                                    margin-right: 320px;
                                                    font-size: 20px;
                                                    font-family: "Barlow Semi Condensed", sans-serif;
                                                }
                                                .headers-pages-res {
                                                    font-size: 32px;
                                                    margin-left: 220px;
                                                    margin-top: 23px;
                                                    color: #702b9d;
                                                    font-family: "Barlow Semi Condensed", sans-serif;
                                                }
                                            }

                                            @media only screen and (max-width: 1222px) {
                                                .image-research {
                                                    width: 300px;
                                                    height: 330px;
                                                    margin-left: 190px;
                                                    margin-top: 35px;
                                                    float: left;
                                                    padding: 0 20px 0 0;
                                                }
                                                .research-text-img {
                                                    text-align: justify;
                                                    margin-right: 140px;
                                                    font-size: 21px;
                                                    font-family: "Barlow Semi Condensed", sans-serif;
                                                }
                                                .headers-pages-res {
                                                    font-size: 32px;
                                                    margin-left: 190px;
                                                    margin-top: 23px;
                                                    color: #702b9d;
                                                    font-family: "Barlow Semi Condensed", sans-serif;
                                                }
                                            }

                                            @media only screen and (max-width: 1130px) {
                                                .image-research {
                                                    width: 300px;
                                                    height: 330px;
                                                    margin-left: 170px;
                                                    margin-top: 35px;
                                                    float: left;
                                                    padding: 0 20px 0 0;
                                                }
                                                .research-text-img {
                                                    text-align: justify;
                                                    margin-right: 80px;
                                                    font-size: 21px;
                                                    font-family: "Barlow Semi Condensed", sans-serif;
                                                }
                                                .headers-pages-res {
                                                    margin-left: 130px;
                                                }
                                            }

                                            @media only screen and (max-width: 950px) {
                                                .image-research {
                                                    width: 300px;
                                                    height: 330px;
                                                    margin-left: 60px;
                                                    margin-top: 35px;
                                                    float: left;
                                                    padding: 0 20px 0 0;
                                                }
                                                .research-text-img {
                                                    text-align: justify;
                                                    margin-right: 30px;
                                                    font-size: 21px;
                                                    font-family: "Barlow Semi Condensed", sans-serif;
                                                    margin-left: 60px;
                                                }
                                                .headers-pages-res {
                                                    font-size: 32px;
                                                    margin-left: 50px;
                                                    margin-top: 23px;
                                                    color: #702b9d;
                                                    font-family: "Barlow Semi Condensed", sans-serif;
                                                }
                                            }

                                            @media only screen and (max-width: 755px) {
                                                .image-research {
                                                    width: 260px;
                                                    height: 309px;
                                                    margin-left: 45px;
                                                    margin-top: 35px;
                                                    float: left;
                                                    padding: 0 20px 0 0;
                                                }
                                                .research-text-img {
                                                    text-align: justify;
                                                    margin-right: 25px;
                                                    font-size: 18px;
                                                    font-family: "Barlow Semi Condensed", sans-serif;
                                                    margin-left: 45px;
                                                }
                                            }

                                            .title-people {
                                                font-size: 19px;
                                                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                                                margin-left: 30px;
                                                text-align: justify;
                                                line-height: 22px;
                                            }

                                            .oval-image {
                                                float: left;
                                                width: 180px;
                                                height: 180px;
                                                border-radius: 50%;
                                                shape-outside: circle();
                                                margin: 15px;
                                                padding: 15px;
                                                margin-left: 35px;
                                            }

                                            .container-contact {
                                                width: 100%;
                                                height: 100vh;
                                                background: rgb(202, 189, 215);
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                            }

                                            form {
                                                background: rgb(255, 255, 255);
                                                display: flex;
                                                flex-direction: column;
                                                width: 90%;
                                                padding: 2vw 4vw;
                                                max-width: 800px;
                                                border-radius: 20px;
                                            }

                                            form h3 {
                                                color: #555;
                                                font-weight: 800;
                                                margin-bottom: 20px;
                                            }

                                            form input,
                                            form textarea {
                                                border: 0;
                                                margin: 10px 0;
                                                padding: 20px;
                                                outline: none;
                                                background: rgb(240, 236, 241);
                                                font-size: 17px;
                                            }

                                            form button {
                                                padding: 15px;
                                                background: #a65db9;
                                                color: #ffffff;
                                                font-size: 18px;
                                                border: 0;
                                                outline: none;
                                                cursor: pointer;
                                                width: 150px;
                                                margin: 20px auto 0;
                                                border-radius: 30px;
                                            }

                                            .home-container {
                                                margin: 20px 40px;
                                                color: rgb(240, 236, 241);
                                            }

                                            .know-us {
                                                display: flex;
                                                justify-content: space-around;
                                                margin: 20px 80px;
                                            }

                                            .about-us {
                                                flex-basis: 260px;
                                                margin-left: 100px;
                                            }

                                            .about-us .img-home {
                                                height: 160px;
                                                width: 162px;
                                                border-radius: 50%;
                                                cursor: pointer;
                                                transition: 1s ease;
                                            }

                                            .img-home:hover {
                                                box-shadow: 0 0 0 6px #7b5aa6;
                                                transition: .5s ease;
                                            }

                                            .newss {
                                                display: flex;
                                                justify-content: space-around;
                                                margin: 20px 80px;
                                            }

                                            .each-new {
                                                flex-basis: 260px;
                                                margin-left: 0px;
                                                text-align: center;
                                            }

                                            .each-new .img-newss {
                                                height: 160px;
                                                width: 185px;
                                                cursor: pointer;
                                                transition: 1s ease;
                                                justify-content: center;
                                            }

                                            .img-newss:hover {
                                                box-shadow: 1px 1px #373737, 2px 2px #373737, 3px 3px #373737, 4px 4px #373737, 5px 5px #373737, 6px 6px #373737;
                                                -webkit-transform: translateX(-3px);
                                                transform: translateX(-3px);
                                                transition: .5s ease;
                                            }

                                            .home-tags {
                                                margin-top: 30px;
                                                margin-left: 35px;
                                                font-size: 18px;
                                                color: #7b5aa6;
                                            }

                                            @media only screen and (max-width: 1000px) {
                                                body {
                                                    overflow-x: hidden;
                                                }
                                                .newss {
                                                    flex-direction: column;
                                                }
                                                .each-new {
                                                    display: flex;
                                                    flex-direction: column;
                                                    align-items: center;
                                                    margin-left: 0;
                                                    text-align: center;
                                                }
                                                .know-us {
                                                    flex-direction: column;
                                                }
                                                .about-us {
                                                    display: flex;
                                                    flex-direction: column;
                                                    align-items: center;
                                                    margin-left: 0;
                                                    text-align: center;
                                                }
                                            }

                                            .news-container {
                                                margin: 20px 40px;
                                                color: rgb(179, 155, 185);
                                            }
                                            /*.news {
                        display: flex;
                        margin-left: 30px;
                        margin: 20px 80px;
                        color: rgb(179, 155, 185);
                        justify-content: space-around;
                    }

                    img-news {
                        cursor: pointer;
                        transition: 1s ease;
                        float: left;
                        margin: 15px;
                        padding: 15px;
                        margin-left: 28px;
                    }*/

                                            .image-research-text {
                                                color: #404040;
                                                font-size: 19px;
                                                font-family: "Barlow Semi Condensed", sans-serif;
                                                margin-left: 80px;
                                                margin-right: 80px;
                                            }

                                            .img-news:hover {
                                                -webkit-transform: scale(0.8);
                                                -ms-transform: scale(0.8);
                                                transform: scale(0.8);
                                                transition: 1s ease;
                                            }

                                            @media only screen and (max-width: 1000px) {
                                                .header {
                                                    font-size: 34px;
                                                    font-family: "Barlow Semi Condensed", sans-serif;
                                                    margin-left: 80px;
                                                    margin-top: 30px;
                                                    color: rgb(55, 54, 54);
                                                }
                                                .inside-text {
                                                    color: #404040;
                                                    font-size: 19px;
                                                    font-family: "Barlow Semi Condensed", sans-serif;
                                                    margin-left: 40px;
                                                    margin-right: 40px;
                                                }
                                                body {
                                                    overflow-x: hidden;
                                                }
                                            }

                                            .project {
                                                font-family: "Barlow Semi Condensed", sans-serif;
                                                font-size: 21px;
                                                margin-left: 210px;
                                                color: rgb(27, 27, 27);
                                            }

                                            .project-text {
                                                color: #404040;
                                                font-size: 18px;
                                                font-family: "Barlow Semi Condensed", sans-serif;
                                                margin-left: 210px;
                                            }

                                            .ppl-tags {
                                                margin-top: 30px;
                                                font-family: "Barlow Semi Condensed", sans-serif;
                                                font-size: 17px;
                                                color: #212121;
                                                text-align: center;
                                            }

                                            .ppl-tags- {
                                                margin-top: 30px;
                                                font-family: "Barlow Semi Condensed", sans-serif;
                                                font-size: 17px;
                                                color: #212121;
                                                margin-left: 110px;
                                                margin-right: 40px;
                                            }

                                            .position-ppl {
                                                margin-top: 12px;
                                                font-family: "Barlow Semi Condensed", sans-serif;
                                                font-size: 15.5px;
                                                color: #212121;
                                            }

                                            .position-ppl- {
                                                margin-top: 12px;
                                                font-family: "Barlow Semi Condensed", sans-serif;
                                                font-size: 15.5px;
                                                color: #212121;
                                                margin-left: 110px;
                                                margin-right: 72px;
                                            }

                                            .about-us .img-ppl {
                                                height: 180px;
                                                width: 185px;
                                                cursor: pointer;
                                                transition: 1s ease;
                                                display: block;
                                            }

                                            .img-ppl:hover {
                                                box-shadow: 1px 1px #373737, 2px 2px #373737, 3px 3px #373737, 4px 4px #373737, 5px 5px #373737, 6px 6px #373737;
                                                -webkit-transform: translateX(-3px);
                                                transform: translateX(-3px);
                                                transition: .5s ease;
                                            }

                                            .img-researchh {
                                                float: left;
                                                width: 180px;
                                                margin: 15px;
                                                padding: 10px;
                                                margin-left: 140px;
                                                vertical-align: middle;
                                                height: 220px;
                                            }

                                            @media screen and (max-width: 500px) {
                                                .img-researchh {
                                                    width: 270px;
                                                    height: 250px;
                                                    margin: 10px;
                                                    padding: 10px;
                                                    margin-left: 63px;
                                                }
                                            }

                                            @media only screen and (max-width: 605px) {
                                                ppl-tags- {
                                                    margin-left: 20px;
                                                    margin-top: 30px;
                                                    font-family: "Barlow Semi Condensed", sans-serif;
                                                    font-size: 17px;
                                                    color: #212121;
                                                }
                                                position-ppl- {
                                                    margin-left: 20px;
                                                }
                                                line {
                                                    margin-left: 20px;
                                                }
                                            }

                                            .questions-container {
                                                max-width: 1000px;
                                                margin: 0 auto;
                                            }

                                            .question {
                                                /* for line under text*/
                                                border-bottom: 1px solid rgb(45, 44, 44);
                                            }

                                            .question button {
                                                width: 100%;
                                                background-color: rgb(255, 255, 255);
                                                display: flex;
                                                justify-content: space-between;
                                                margin-left: center;
                                                padding: 20px 15px;
                                                border: none;
                                                outline: none;
                                                font-size: 20px;
                                                color: rgb(120, 61, 150);
                                                font-weight: 400;
                                                font-family: Barlow Semi Condensed, sans-serif;
                                                cursor: pointer;
                                            }

                                            .question p {
                                                font-size: 20px;
                                                font-weight: 400;
                                                font-family: Barlow Semi Condensed, sans-serif;
                                                max-height: 0;
                                                opacity: 0;
                                                line-height: 1.2;
                                                overflow: hidden;
                                                transition: all 0.6s ease;
                                            }

                                            .d-arrow {
                                                transition: transform 0.5s ease-in;
                                                color: rgb(120, 61, 150);
                                            }
                                            /*add this class when click*/

                                            .question p.show {
                                                max-height: 200px;
                                                opacity: 1;
                                                padding: 0px 15px 30px 15px;
                                            }

                                            .question button .d-arrow.rotate {
                                                transform: rotate(180deg);
                                            }
